<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92154988065-219h13l98losv97qi103375d3kp03rpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92154988065-219h13l98losv97qi103375d3kp03rpf</string>
	<key>API_KEY</key>
	<string>AIzaSyCGNGZd42gytsBaNmPHt1cna0PqLUgEPP8</string>
	<key>GCM_SENDER_ID</key>
	<string>92154988065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielanadi.diskusiSekolah</string>
	<key>PROJECT_ID</key>
	<string>mc2-diskusisekolah</string>
	<key>STORAGE_BUCKET</key>
	<string>mc2-diskusisekolah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92154988065:ios:d61d8a04fc06557adc0560</string>
	<key>DATABASE_URL</key>
	<string>https://mc2-diskusisekolah.firebaseio.com</string>
</dict>
</plist>